--acronyms 
--allman false
--anonymousforeach convert
--assetliterals visual-width
--asynccapturing 
--beforemarks 
--binarygrouping 4,8
--categorymark "MARK: %c"
--classthreshold 0
--closingparen balanced
--closurevoid remove
--commas always
--conflictmarkers reject
--decimalgrouping 3,6
--elseposition same-line
--emptybraces no-space
--enumnamespaces always
--enumthreshold 0
--exponentcase lowercase
--exponentgrouping disabled
--extensionacl on-extension
--extensionlength 0
--extensionmark "MARK: - %t + %c"
--fractiongrouping disabled
--fragment false
--funcattributes preserve
--generictypes 
--groupedextension "MARK: %c"
--guardelse auto
--header "// Copyright (c) {year} Harry Lachenmayer"
--hexgrouping 4,8
--hexliteralcase uppercase
--ifdef indent
--importgrouping alpha
--indent 2
--indentcase false
--indentstrings true
--lifecycle 
--lineaftermarks true
--linebreaks lf
--markcategories false
--markextensions always
--marktypes always
--maxwidth 100
--modifierorder 
--nevertrailing 
--nospaceoperators 
--nowrapoperators 
--octalgrouping 4,8
--onelineforeach ignore
--operatorfunc spaced
--organizetypes actor,class,enum,struct
--patternlet hoist
--ranges spaced
--redundanttype infer-locals-only
--self remove
--selfrequired 
--semicolons inline
--shortoptionals always
--smarttabs enabled
--someany true
--stripunusedargs always
--structthreshold 0
--swiftversion 6.0
--tabwidth 2
--throwcapturing 
--trailingclosures 
--trimwhitespace always
--typeattributes preserve
--typeblanklines remove
--typemark "MARK: - %t"
--varattributes preserve
--voidtype void
--wraparguments before-first
--wrapcollections before-first
--wrapconditions preserve
--wrapeffects preserve
--wrapenumcases always
--wrapparameters before-first
--wrapreturntype preserve
--wrapternary before-operators
--wraptypealiases preserve
--xcodeindentation disabled
--yodaswap always
--disable opaqueGenericParameters,redundantReturn,redundantSelf,redundantVoidReturnType,unusedArguments,wrapLoopBodies
--enable blockComments,docComments,wrapSwitchCases
